<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>방명록</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
<h1>Guestbook</h1>

    <div class="guestbook-container">
        <h2>방명록을 작성해주세요</h2>
        <form action="/add_entry/" method="post">
            <label for="name">이름:</label>
            <input type="text" id="name" name="name" required>
            <label for="message">메세지:</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">등록</button>
        </form>
    </div>
    <div class="guestbook-entries">
        <h2>방명록 목록</h2>
        {% for entry in entries %}
            <div class="entry">{{ entry }}</div>
        {% endfor %}
    </div>
</body>
</html>

