<!DOCTYPE html>
<html>
<head>
    <title>Guestbook</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>Guestbook</h1>
    <ul>
        {% for entry in entries %}
            <li>{{ entry }}</li>
        {% endfor %}
    </ul>
    <form action="/add_entry/" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
